:root {
  --color-white: #f0f8ff;
  --color-blue-dark: #003368;
  --color-gray: #919391;
  --color-body:#FAF9F6;
  --color-blue-medium:#56C4EC;
  --color-black: hsl(0, 4%, 9%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-body);

  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: var(--color-blue-dark);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-white);
  }
  
  ::selection{
    background-color: var(--color-blue-dark);
    color: var(--color-body);
  }
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
