:root {
  --color-white: #f0f8ff;
  --color-blue-dark: #1b1532;
  --color-blue-light: #57c4ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
