.footer {
  width: 100vw;
  position: relative;
  bottom: 0px;

  & div {
    background-color: var(--color-blue-dark);
    margin: -7px 0px 0px 0px;
    color: var(--color-white);
  }
}

svg {
  width: 100%;
}

.fit-position-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fit-element-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 4rem;

  & img {
    width: 40rem;
  }
}

.footer-informative {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.4rem;

  & li,
  a {
    color: var(--color-white);
    transition: 0.2s;
  }

  a:hover {
    color: var(--color-gray);
  }
}

.btn {
  padding: 1.5rem 3rem;
  border: 1px solid var(--color-white);
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 1.8rem;
  margin-top: 8px;
  transition: 0.5s;
}

.btn:hover {
  border: solid 1px var(--color-gray);
  color: var(--color-gray);
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 3rem;
  padding-top: 2rem;
  font-size: 2rem;
}

.fa-brands {
  color: var(--color-white);
  transition: 0.2s;
}

.fa-brands:hover {
  color: var(--color-gray);
}

/* Animação ondas */
.wave {
  animation: wave 3s linear;
  animation-iteration-count: infinite;
  fill: var(--color-blue-dark);
}
#wave2 {
  animation-duration: 5s;
  animation-direction: reverse;
  opacity: 0.6;
}
#wave3 {
  animation-duration: 7s;
  opacity: 0.3;
}
@keyframes wave {
  to {
    transform: translateX(-100%);
  }
}
