/* INICIO QUEM SMOMOS */
img {
  width: 100%;
}

.fit-text {
  width: 50%;
  margin: auto;
  line-height: 6rem;
  font-size: 2rem;

  & h2 {
    font-weight: 400;
    text-align: justify;
  }

  & span {
    color: var(--color-blue-medium);
    display: flex;
    justify-content: end;
    font-weight: bold;
  }
}

.fit-title{
  text-align: center;
  font-size: 4rem;
  font-family: "Oswald", sans-serif;
  color: var(--color-blue-medium);

  & h2{
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

iframe{
  border-radius: 2rem;
  box-shadow: 8px 9px 70px 10px;
  color: var(--color-gray);
  margin-top: 4rem;
}
/* FIM QUEM SMOMOS */

 /* INICIO PROBLEMAS  */
 
  /* FIM PROBLEMAS  */