img{
    width: 100%;

}

body::-webkit-scrollbar {
    width: .5rem
}

body::-webkit-scrollbar-track {
    background: var(--color-white)
}

body::-webkit-scrollbar-thumb {
    background: var(--color-blue-dark)
}

.fit-image{
    height: 100vh;
}