/* INICIO QUEM SMOMOS */

img {
  width: 100%;
}

.fit-image {
  & img {
    width: 100%;
  }
}

.fit-text {
  line-height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;

  & p {
    font-weight: 400;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: rem;
    width: 60%;
  }

  & img {
    border-radius: 50%;
    width: 40rem;
    height: 40rem;
    padding: 3rem;
  }
}

.fit-title {
  text-align: center;
  color: var(--color-blue-dark);

  & h2 {
    font-size: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: "Oswald", sans-serif;
  }
}

.join-us {
  width: 100%;
  height: 50rem;
  background-color: var(--color-blue-dark);
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;

  & h2 {
    font-size: 5rem;
    font-family: "Oswald", sans-serif;
    color: var(--color-white);
  }

  & p {
    color: var(--color-white);
    font-size: 1.8rem;
    width: 50%;
    text-align: center;
  }
}
/* FIM QUEM SMOMOS */

/* INICIO PROBLEMAS  */
.titles {
  font-size: 6rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-family: "Oswald", sans-serif;
  color: var(--color-blue-dark);
  text-align: center;
}

.structure {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.cards {
  width: 70%;
  height: 60rem;
  border-radius: 2rem;
  margin-bottom: 10rem;
  box-shadow: 20px 20px 50px 10px var(--color-gray);
  transition: 1s;
  position: relative;

  & img {
    border-radius: 2rem 2rem 0 0;
    height: 32rem;
  }

  & p {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    text-wrap: balance;
  }

  & span {
    font-weight: bold;
    color: var(--color-blue-dark);
    font-size: 2rem;
  }
}

.cards:hover {
  transform: scale(1.1);
}

.fit-cards {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.image-background {
  background-image: url(../imgs/agua\ viva.jpg);
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed;
  background-size: cover;
}

.Stay-alert {
  width: 100%;
  height: 50rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  margin-top: 10rem;

  & video {
    position: absolute;
    width: 100%;
    height: 50rem;
    object-fit: cover;
    z-index: -2;
  }

  & h2 {
    color: var(--color-white);
    font-size: 5rem;
    font-family: "Oswald", sans-serif;
  }

  & p {
    color: var(--color-white);
    font-size: 1.8rem;
  }
}
/* FIM PROBLEMAS  */

/* INICIO SOLUÇÕES */
.cards-2 {
  width: 70%;
  height: 30rem;
  border-radius: 2rem;
  margin-bottom: 10rem;
  box-shadow: 20px 20px 50px 10px var(--color-gray);
  transition: 0.7s;
  position: relative;

  & img {
    border-radius: 2rem 2rem 0 0;
    height: 32rem;
  }

  & p {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    display: none;
    text-wrap: balance;
  }

  & span {
    font-weight: bold;
    color: var(--color-blue-dark);
    font-size: 2rem;
  }
}

.cards-2:hover {
  height: 60rem;

  & p {
    display: block;
  }
}

.fit-cards-2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.fit-video {
  position: relative;
  color: var(--color-white);
}

.fit-video::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #0f1525cc;
  z-index: -1;
}
/* FIM SOLUÇÕES */

/* INICIO CONTATO */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4rem;

  & input {
    width: 70%;
    height: 6rem;
    background-color: transparent;
    border-radius: 2px;
    padding-left: 1rem;
    color: var(--color-black);
    font-size: 1.8rem;
    border: solid 1px;
    outline: none;
  }

  & button {
    width: 70%;
    height: 6rem;
    background-color: var(--color-blue-dark);
    color: var(--color-white);
    border: none;
    font-size: 1.8rem;
  }

  & ::placeholder {
    font-size: 1.8rem;
    padding-left: 1rem;
    color: var(--color-black);
  }
}

.background-contact {
  width: 40%;
  height: 60rem;
  margin: auto;
  border-radius: 2rem;
  box-shadow: 20px 20px 50px 10px var(--color-gray);
  margin-top: 10rem;

  & h2 {
    font-size: 5rem;
    color: var(--color-blue-dark);
    text-align: center;
    padding: 4rem;
    font-family: "Oswald", sans-serif;
  }
}
/* FIM CONTATO */

/* responsivo cards */
@media (max-width: 1599px) {

  .structure {
    flex-wrap: wrap;
    width: 70%;
  }

  .cards {
    & p {
      font-size: 1.4rem;
    }
  }

  .cards-2 {
    & p {
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 899px) {
  .fit-video { /* Mostrar video no mobile */
    position: static;
  }

  .structure {
    width: 100%;
  }

  .titles {
    font-size: 5rem;
  }
}

@media (max-width: 629px) {
  .cards {
    width: 90%;
    height: 70rem;
  }

  .cards-2 {
    width: 90%;
  }

  .cards-2:hover {
    height: 65rem;
  }
}

@media (max-width: 729px) {
  .titles {
    font-size: 4rem;
  }
}

/* responsivo quem somos */
@media (max-width: 1399px) {
  .fit-text {
    flex-direction: column;

    & p {
      font-size: 1.8rem;
      text-align: center;
    }
  }
}

@media (max-width: 899px) {
  .fit-title {
    & h2 {
      font-size: 5rem;
    }
  }

  .fit-text {
    & p {
      width: 90%;
    }

    & img {
      width: 30rem;
      height: 30rem;
    }
  }
}

@media (max-width: 729px) {
  .fit-title {
    & h2 {
      font-size: 4rem;
    }
  }
}
/* responsivo junte-se a nos */
@media (max-width: 1399px) {
  .join-us {
    & p {
      width: 90%;
      line-height: 3rem;
    }
  }
}

@media (max-width: 729px) {
  .join-us {
    h2 {
      font-size: 4rem;
    }
  }
}

/* responsivo matenha-se alerta */
@media (max-width: 999px) {
  .Stay-alert {
    & p {
      width: 90%;
      text-align: center;
    }

    & h2 {
      font-size: 4rem;
      text-align: center;
    }
  }

  @media (max-width: 499px) {
    .Stay-alert {
      & h2 {
        font-size: 3rem;
      }
    }
  }
}

/* responsivo contato */
@media (max-width: 1399px){
  .background-contact{
    width: 50%;
  }
}

@media (max-width: 1199px){
  .background-contact{
    width: 60%;
  }
}

@media (max-width: 999px){
  .background-contact{
    width: 70%;

     h2{
      font-size: 4rem;
     }
  }
}

@media (max-width: 729px){
  .background-contact{
    width: 80%;
    box-shadow:0 0 0 0;
  }
}

@media (max-width: 629px){

  form{
    & input{
      width: 100%;
    }

    & button{
      width: 100%;
    };
  }

  .background-contact{
    & h2{
      font-size: 3rem;
    }
  }
}

/* imagem das aguas vivas */
@media (max-width: 599px) {
  .image-background {
    background-attachment: scroll;
  }
}

/* fundo do video com os peixes */
@media (max-width: 599px) {
  .fit-video::before {
    background: var(--color-blue-dark);
  }
}
